* {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(./cute-christmas-background-with-bokeh.jpg);
    background-position: center;
    background-size: auto 100vh;
    background-attachment: fixed;
    padding: 1rem;
    color: rgb(255, 242, 0);
    padding-top: 2vh;
}

.container {
    display: flex;
    justify-content: center;
    min-height: 20vh;
    align-items: center;
    flex-wrap: wrap;
    gap: 3vw;
}

.big-number-container {
    flex-direction: column;
    align-items: center;
}

.number, .numero-scheda {
    box-sizing: border-box;
    background-color: white;
    border: 3px solid black;
    width: 4vw;
    height: 4vw;
    min-width: 40px;
    min-height: 40px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.173);
    color: black;
}

.current-number {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    border: 8px solid rgb(202, 1, 1);
    color: rgb(202, 0, 0);
    font-size: 5rem;
    font-weight: bold;
    background-color: rgb(217, 205, 92);
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.173);
}

.number-selected {
    box-sizing: border-box;
    border: 3px solid rgb(202, 0, 0);
    color: rgb(206, 0, 0);
    background-color: rgb(217, 205, 92);
    box-shadow: 0 0 6px 10px rgba(0, 0, 0, 0.173);
}

button {
    width: 90vw;
    margin: 1rem auto;
    border: 1px solid black;
    border-radius: 4px;
    padding: 1rem 0;
    background-color: rgb(217, 205, 92);
    font-weight: bold;
    transition: all 0.05s;
    margin-bottom: 3rem;
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.173);
}

button:active, .menu-btn:active {
    transform: scale(0.97);
}

.menu-btn {
    width: 90vw;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgb(217, 205, 92);
    font-weight: bold;
    transition: all 0.05s;
    margin-bottom: 3rem;
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.173);
    margin: 1rem;
    margin-bottom: 2rem;
    padding: 2rem 0;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: black;
}

h2 {
    text-align: center;
    margin-top: 3rem;
}

.container-center {
    display: flex;
    min-height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scheda {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 94vw;
    height: 48vw;
    max-width: 600px;
    max-height: 300px;
    background: url(./210.jpg);
    background-size: 100%;
    gap: 5%;
    border-radius: 8px;
    box-shadow: 0 5px 12px 12px rgba(0, 0, 0, 0.173);
    margin-bottom: 3rem;
    padding: 1rem;
}
.prima-fila, .seconda-fila, .terza-fila {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-around;
    width: 100%;
}

.numero-scheda {
    min-width: unset;
    min-height: unset;
    width: 10%;
    height: 8.5vw;
    max-width: 100px;
    max-height: 56px;
    font-weight: bold;
    font-size: 130%;
}